.project3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #fbfbff;
}
.cryptoimage {
  width: 20vw;
}
