.footer {
  display: flex;
  justify-content: center;
  height: 45px;
  padding-top: 10px;
  background-color: orange;
}

.footer-github {
  margin-right: 12px;
}

.footer-linkedin {
  margin-left: 12px;
}
