.footer {
  display: flex;
  justify-content: center;
  height: 45px;
  padding-top: 10px;
  background-color: #f8f8ff;
}

.footer-linkedin {
  margin-right: 15px;
}

.footer-email {
  margin-left: 15px;
}
